<a href="https://colab.research.google.com/github/bdavis2/CS183/blob/master/hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework 2


**Objectives:** The main aim of this homework is to make you conversant with `Perceptron Training Rule` and use it as a simple binary classifier.

### Problem Statement
You are given a dataset of different `Iris` flower species. The original [dataset](https://archive.ics.uci.edu/ml/datasets/iris) has detailed description of all the characteristics of the flowers. Please feel free to visit the original page to know more about the dataset. Your task is to develop a simple linear binary classifier using `perceptron training rule` and `delta rule using batch gradient descent` to categorize the flowers based on their species.

**Adaptation**: To make the dataset work for this *homework*, we have modified the original dataset. You can use `train.csv` to train the parameters of your model and then use `test.csv` to test your model on some unknown dataset.

**Evaluation**: We have set aside another dataset similar to `test.csv` which will not be disclosed to you. We will use that dataset to evaluate your algorithm. This is just to make sure that you do not have any hard-coded parameters in your code.

**Note**: Please make sure you have proper comments and explanation/justification of the steps you have coded. Please feel to add extra cells to complete all the `TODO` stubs. You are allowed to create your own utility functions to support your code.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
from sklearn import datasets
from google.colab import files
import io

%matplotlib inline

In [ ]:
# Define headers since the dataset does not have any headers
col_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]

In [ ]:
# Import csv file into pandas dataframe'
uploaded = files.upload()
train_df = pd.read_csv(io.BytesIO(uploaded['train.csv']), names=col_names)
uploaded = files.upload()
test_df = pd.read_csv(io.BytesIO(uploaded['test.csv']), names=col_names)

Saving train.csv to train.csv

Saving test.csv to test.csv

In [ ]:
# print first 10 rows of the training data
train_df.head(10)

   sepal_length  sepal_width  petal_length  petal_width  species
0      0.794872     0.410256      0.756410     0.307692        0
1      0.551282     0.371795      0.153846     0.012821        1
2      0.628205     0.243590      0.435897     0.115385        1
3      0.628205     0.410256      0.166667     0.012821        1
4      0.628205     0.397436      0.141026     0.012821        1
5      0.820513     0.371795      0.653846     0.243590        0
6      0.782051     0.358974      0.538462     0.153846        1
7      0.628205     0.423077      0.192308     0.038462        1
8      0.730769     0.333333      0.512821     0.115385        1
9      0.910256     0.397436      0.756410     0.217949        0

In [ ]:

# find the number of training data
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 5 columns):
sepal_length    112 non-null float64
sepal_width     112 non-null float64
petal_length    112 non-null float64
petal_width     112 non-null float64
species         112 non-null int64
dtypes: float64(4), int64(1)
memory usage: 4.4 KB

In [ ]:
# check the data types for each columns of your dataset
train_df.dtypes
train_df.columns[0:4]
train_df.columns[4:]

Index([u'species'], dtype='object')

In [ ]:
# Separating features and store in X_train
X_train = train_df.as_matrix(columns=train_df.columns[0:4])

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [ ]:
# Assigning y_train (species) from the dataset
y_train = train_df['species'].to_numpy()

In [ ]:
# find the number of y values in the training dataset
y_train.size

112

**Activation functions**: You have to implement two different activation functions, `sgn` and `sigmoid`.

In [ ]:
# implementation of sign activation
def sgn(x): # if x > 0 then return 1, and 0 otherwise
  return 1 if x > 0 else 0

In [ ]:
# implementation of sigmoid activation
def sigmoid(x):
    return 1.0 / (1 + math.exp(-x))

**Training Rules**

In [ ]:
def c(row, weights, func):
  activation = weights[0]
  for i in range(len(row)-1):
        activation += weights[i + 1] * row[i]
  if func:
    return sigmoid(activation)
  else: 
    return sgn(activation)

In [ ]:
# implementation of perceptron training algorithm
def PTR(x, y, num_iter, learning_rate, activation_func):
    W = np.zeroes(len(x) + 1)
    for epoch in range(num_iter):
        for row in range(len(x)):
          pred = w[0]
          pred = np.dot(w[1:], x)
          err = x[row] - pred
          W[row] = W[row] + learning_rate * err * np.insert(x[i], 0, 1)
    return W

In [ ]:
# implementation of delta rule using batch gradient decent
def BGD(X, y, num_iter, l_rate):
        w = np.zeroes(len(X) + 1)
        for epoch in range(num_iter):
            print(str(epoch+1)," iteration")
            for index in range(len(X)):
                x = X[index]
                activation = w[0]
                dot = sgn(np.dot(w[1:], X))
                if(y[index] == dot):
                    pass
                else:
                    error = y[index] - dot
                    w[0] = w[0] + lrate * error

                    #delta rule
                    for j in range(len(x)):
                        w[j+1] = w[j+1] + l_rate * error * x[j]
  return w

In [ ]:
# Learning parameters using Batch Gradient Descent for training
W_bgd = BGD(X_train, y_train, 2500, 0.001) # try out with different num_iterations, and learning_rate
b_bgd = 0 #not sure how to calculate this
cost_bgd = cost(W_bgd, y_train)

In [ ]:
def cost(pred, targ):
  c = 0
  for i in range(len(pred)):
  c += (targ[i] - pred[i]) ** 2
c  /= len(pred)
return c

In [ ]:
# plot cost (as computed in batch gradient descent)
# with `No. of iterations` in x-axis, and `Cost` in y-axis
cost = np.zeroes(15)
for i in range(1, 15):
  cost[i] = cst(BGD(X_train, y_train, i*100, 0.001), y_train)
plt.xlabel("No. of iterations")
plt.ylabel("cost")
plt.plot(range(1,15, 100), cost)

In [ ]:
# Learning parameters using Perceptron training rule function
W_ptr = PTR(X_train, y_train, 2500, 0.01, 1) # try out with different num_iterations, and learning_rate

**Prediction Begins**: I have provided you with two utility functions `Identity` and `predict` which you will need to use it on test data.

In [ ]:
# An activation, that does nothing. Used to disable activation_function.
def Identity(x):
    return x

# The neural network thinks.
def predict(x_test, weights, bias, activation_func=Identity):
    return activation_func(np.dot(x_test, weights) + bias)

In [ ]:
# Read test data into pandas dataframe
# did this at the start

In [ ]:
# print first 10 rows of the test data
test_df.head(10)

   sepal_length  sepal_width  petal_length  petal_width  species
0      0.858974     0.346154      0.602564     0.166667        1
1      0.794872     0.307692      0.615385     0.179487        1
2      0.794872     0.282051      0.551282     0.153846        1
3      0.974359     0.474359      0.846154     0.269231        0
4      0.717949     0.358974      0.525641     0.153846        1
5      0.756410     0.333333      0.641026     0.192308        1
6      0.730769     0.320513      0.500000     0.141026        1
7      0.858974     0.371795      0.692308     0.256410        0
8      0.615385     0.294872      0.410256     0.115385        1
9      0.705128     0.346154      0.615385     0.243590        0

In [ ]:
# features of test
# Separating feature and output columns from the dataset and store in X_test
X_test =  test_df.as_matrix(columns=test_df.columns[0:4])

In [ ]:
# store actual output (target) into y_test
y_test = test_df['species'].to_numpy()

In [ ]:
# Compute predictions with X_test
y_pred_ptr = predict(X_test, W_ptr, b_ptr, 1) # feel free to explore results using `sgn` activation function
y_pred_bgd = predict(X_test, W_bgd, b_bgd)

**Evaluation Metrics** We will evaluate our predictions using `Root Mean Squared Error`

In [ ]:
# Evaluate using RMSE
def RMSE(target, output):
    return math.sqrt(((target - output) ** 2).mean(axis=None))

In [ ]:
rmse_ptr = RMSE(y_test, y_pred_ptr)
print('the rmse is: ', rmse_ptr)

In [ ]:
rmse_bgd = RMSE(y_test, y_pred_bgd)
print('the rmse is: ', rmse_bgd)